@charset "EUC-KR";
.cont-padding{
    padding-top: 50px;
}

.nav{
    min-height: 50px;
    color: #fff !important;
    /*margin-bottom: 20px;*/
}
.nav-link{
    color: #390090;
    font-weight: bold;
}
.top_sm_logo,
.navbar-brand{
    color: #390090;
    font-weight: bold;

}
.top_sm_logo{
    font-size: 1.25rem;
    margin-top: 7px;
    display: inline-block;
}
a{
    color: #363636;
}
a:hover{
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    color: #000;
}

.container-progress{
    padding: 0;
}


/*btn*/


.btn-link {
    font-weight: 400;
    color: #FF2D66;
    background-color: transparent;
}

.btn-link:hover {
    color: #bf224c;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}

.btn-link:focus, .btn-link.focus {
    text-decoration: underline;
    border-color: transparent;
    box-shadow: none;
}

.btn-link:disabled, .btn-link.disabled {
    color: #6c757d;
    pointer-events: none;
}


.btn-round{
    border-radius: 10rem !important;
    padding: 10px 20px !important;
}

.btn-red {
    color: #fff;
    background-color: #FF2D66;
    border-color: #FF2D66;
}

.btn-red:hover {
    color: #fff;
    background-color: #d92756;
    border-color: #cc2551;
}

.btn-red:focus, .btn-red.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 45, 102, 0.5);
}

.btn-red.disabled, .btn-red:disabled {
    color: #fff;
    background-color: #FF2D66;
    border-color: #FF2D66;
}

.btn-red:not(:disabled):not(.disabled):active, .btn-red:not(:disabled):not(.disabled).active,
.show > .btn-red.dropdown-toggle {
    color: #fff;
    background-color: #cc2551;
    border-color: #bf224c;
}

.btn-red:not(:disabled):not(.disabled):active:focus, .btn-red:not(:disabled):not(.disabled).active:focus,
.show > .btn-red.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 45, 102, 0.5);
}

.btn-fb {
    color: #fff;
    background-color: #4267b2;
    border-color: #4267b2;
}
.btn-fb:hover {
    color: #fff;
    background-color: #4e7ed8;
    border-color: #4e7ed8;
}


.btn-kakao {
    color: #391d1d;
    display: inline-block;
    background-color: #f5e81a;
    border-color: #f5e81a;
    padding-right: 50px !important;
    background-image: url(../img/bubble.png) !important;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 94% 20px;
}
.btn-kakao:hover {
    color: #391d1d;
    background-color: #ebde19;
    border-color: #ebde19;
}

.btn-purple {
    color: #fff;
    background-color: #390090;
    border-color: #390090;
}

.btn-purple:hover {
    color: #fff;
    background-color: #2a0069;
    border-color: #25005c;
}

.btn-purple:focus, .btn-purple.focus {
    box-shadow: 0 0 0 0.2rem  rgba(57, 0, 114, 0.5);
}

.btn-purple.disabled, .btn-purple:disabled {
    color: #fff;
    background-color: #390090;
    border-color: #390090;
}

.btn-purple:not(:disabled):not(.disabled):active, .btn-purple:not(:disabled):not(.disabled).active,
.show > .btn-purple.dropdown-toggle {
    color: #fff;
    background-color: #25005c;
    border-color: #20004f;
}

.btn-purple:not(:disabled):not(.disabled):active:focus, .btn-purple:not(:disabled):not(.disabled).active:focus,
.show > .btn-purple.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(57, 0, 114, 0.5);
}


.btn-multiple{
    pointer-events: none;
}
/*pagination*/
.page-link{
    margin-right: 6px;
    border-radius: 0 !important;
    color: #5dd29f;
}
.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(93, 210, 159, 0.25);
}
.page-link:hover {
    z-index: 2;
    color: #5dd29f;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #5dd29f;
    border-color: #5dd29f;
}
.pager{
    position: relative !important;
    top: auto !important;
}

.footer{
    margin-top: 40px;
    font-size: 0.85rem;
    padding: 20px 0;
    border-top: 2px solid #390090;
}
.footer_sns{
    display: inline-block;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
.footer_link_active{
    font-weight: bold;
}
.footer_bottom{

    padding: 20px 0;
    border-top: 1px solid #e0e0e0;
}
.footer_link{
    display: inline-block;
    margin-top: 7px;
}
.footer_info{
    display: block;
    color: #888;
}
/* Breakpoint XS */
@media (max-width: 575px)
{

    .hidden-xs-down, .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up,
    .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    }

}

/* Breakpoint SM */
@media (min-width: 576px) and (max-width: 767px)
{

    .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up,
    .hidden-unless-xs, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    }
}

/* Breakpoint MD */
@media (min-width: 768px) and (max-width: 991px)
{
    .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    }
}

/* Breakpoint LG */
@media (min-width: 992px) and (max-width: 1199px)
{
    .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-xl
    {
        display: none !important;
    }
}

/* Breakpoint XL */
@media (min-width: 1200px)
{
    .answer_item {
        padding: 20px 10px !important;
    }
    .hidden-xl-down,
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, .hidden-xl-up,
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg
    {
        display: none !important;
    }
}
